<!doctype html>
<head>
  <meta http-equiv="refresh" content="1">
  <title>
    <%= @page_title %>
  </title>
  <style>
    body { font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; font-size: 12px; line-height: 1.6em; }
    h1 { font-size: 16px; font-weight: bold; color: #039; }
  </style>
</head>
<body>
  <h1> <%= @page_title %> </h1>
  <p>
    <b><%= @page_content %></b>
  </p>
  <% if @node[:remote_recipe] %>
    <div style="font-size: smaller; padding-top: 10px; padding-left: 5px; border: solid 1px #EFF5FA; background-color: #EEEEEE">
      Using tags: <b><%= @node[:remote_recipe][:tags].join(", ") %></b><br />
      From agent: <b><%= @node[:remote_recipe][:from] %></b><br />
      From instance: <b><%= @node[:remote_recipe][:from_uid] %></b>
    </div>
  <% end %>
  <p>
    Look ma:
    <ul>
      <li>No more SSH!</li>
      <li>Execution in serial!</li>
      <li>Run a recipe from a recipe</li>
    </ul>
  </p>
</body>

